extends layout

block content
  h1 Book: #{books.title}
  form
    p
      label(for='title')= Title
      input#title(type='text', value=`${books.title}`)
    p
      label(for='author') Author
      input#author(type='text', value=`${books.author}`)
    p
      label(for='genre') Genre
      input#genre(type='text', value=`${books.genre}`)
    p
      label(for='first_published') First Published
      input#first_published(type='text', value=`${books.first_published}`)
    p
      input(type='submit', value='Update')
  h2 Loan History
  table
    thead
      tr
        th Book
        th Patron 
        th Loaned on
        th Return by 
        th Returned on
        th Action
    tbody
      each loan in loans
        tr
          td
            a(href=`/books/details/${loan.book_id}`)= loan.books.title
          td
            a(href=`/patrons/details/${loan.patron_id}`)= loan.patrons.first_name + " " + loan.patrons.last_name
          td= loan.loaned_on
          td= loan.return_by
          td= loan.returned_on
          if !loan.returned_on
            td
              a.button(href=`/books/return/${loan.book_id}`) Return Book
