extends layout

block content
  h1 New Loan
  form(action="/loans/new", method="post", id="newLoanForm")
    p
      label(for='book_id') Book
      select#book_id(name="book_id", form="newLoanForm")
        each book in books
          if(err)
            if(parseInt(bodyProp.book_id) === parseInt(book.id))
              option(selected, value= book.id)= book.title
            else
              option(value= book.id)= book.title
          else
            option(value= book.id)= book.title
      if(err)
          if(err.errors[0].path === 'book_id')
            label(class="err")= err.errors[0].message
    p
      label(for='patron_id') Patron
      select#patron_id(name="patron_id", form="newLoanForm")
        each patron in patrons
          if(err)
            if(parseInt(bodyProp.patron_id) === parseInt(patron.id))
               option(selected, value= patron.id)= patron.first_name + " " + patron.last_name
            else
              option(value= patron.id)= patron.first_name + " " + patron.last_name
          else
             option(value= patron.id)= patron.first_name + " " + patron.last_name
      if(err)
          if(err.errors[0].path === 'patron_id')
            label(class="err")= err.errors[0].message
    p
      label(for='loaned_on') Loaned on:
      input#loaned_on(type='text', name="loaned_on", value= err ? bodyProp.loaned_on : date.dt)
      if(err)
          if(err.errors[0].path === 'loaned_on')
            label(class="err")= err.errors[0].message
    p
      label(for='return_by') Return by:
      input#return_by(type='text', name="return_by", value= err ? bodyProp.return_by : date.dtPlusSev)
      if(err)
        if(err.errors[0].path === 'return_by')
          label(class="err")= err.errors[0].message
    p
      input(type='submit', value='Create New Loan')
