extends layout

block content
  h1 New Patron
  form(action="/patrons/new", method="post")
    p
      label(for='first_name') First Name
      input#first_name(type='text', name='first_name', value= err ? bodyProp.first_name : "")
      if(err)
          if(err.errors[0].path === 'first_name')
            label(class="err")= err.errors[0].message
    p
      label(for='last_name') Last Name
      input#last_name(type='text', name='last_name', value= err ? bodyProp.last_name : "")
      if(err)
          if(err.errors[0].path === 'last_name')
            label(class="err")= err.errors[0].message
    p
      label(for='address')  Address
      input#address(type='text', name='address', value= err ? bodyProp.address : "")
      if(err)
          if(err.errors[0].path === 'address')
            label(class="err")= err.errors[0].message
    p
      label(for='email') Email
      input#email(type='text', name='email', value= err ? bodyProp.email : "")
      if(err)
          if(err.errors[0].path === 'email')
            label(class="err")= err.errors[0].message
    p
      label(for='library_id') Library ID
      input#library_id(type='text', name='library_id', value= err ? bodyProp.library_id : "")
      if(err)
          if(err.errors[0].path === 'library_id')
            label(class="err")= err.errors[0].message
    p
      label(for='zip_code') Zip Code
      input#zip_code(type='text', name='zip_code', value= err ? bodyProp.zip_code : "")
      if(err)
          if(err.errors[0].path === 'zip_code')
            label(class="err")= err.errors[0].message
    p
      input(type='submit', value='Create New Patron')
